<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="in.amazon.mShop.android.shopping" />
        <package android:name="com.instagram.android" />
        <package android:name="com.whatsapp" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.twitter.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.linkedin.android" />
        <package android:name="com.spotify.music" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="com.ubercab" />
        <package android:name="com.pinterest" />
        <package android:name="com.facebook.orca" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_167"
        android:label="IRIS"
        android:roundIcon="@mipmap/icon_167"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>